<div class="card-group">
    <div *ngFor="let merchandise of merchandises$ | async">
        <div class="card bg-light border-dark" style="width: 18rem;">
            <img class="card-img-top" src={{merchandise.imgSource}} alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title" >{{merchandise.name}}</h5>
                <p class="card-text">{{merchandise.description}}</p>
                <button *ngIf="is_authorized" class="btn btn-primary" (click)="addToBasket(merchandise)">Purchase</button>
            </div>
        </div>
    </div>
</div>