.container {
	padding-top: 20px;
	position: relative;
}

.nav {
	padding-left: 20px;
}

#basketImg {
	margin-bottom: 8px;
}

authotization {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.dropdown-toggle {
	background-color: transparent;
	border-color: transparent;
}
